@import "tailwindcss";

@config "../tailwind.config.js";


:root {
  --navbar-height: 32px; /* adjust depending on your header */
}
* html, body{
  margin:0;
  padding:0;
  background-color: #F7F5F2;
  color:#1E1919;
}
/* FoundersGrotesk */
@font-face {
  font-family: 'FoundersGrotesk';
  src: url('/fonts/FoundersGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'FoundersGrotesk';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* PPNeueMontreal*/
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/fonts/PPNeueMontreal-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/fonts/PPNeueMontreal-Book.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/fonts/PPEditorialSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* NotoSans*/
@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out forwards;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.modal-enter {
  animation: slideInRight 0.35s ease-out forwards;
}

.modal-exit {
  animation: slideOutRight 0.35s ease-in forwards;
}
